*{
    font-size: 18px;
}
/* ---------------------------trang thêm danh mục sản phẩm, trang danh sách danh mục
, trang sửa danh mục  */
.them-danh-muc h1, .danh-sach-danh-muc h1, .sua-danh-muc h1, 
.them-xuat-xu h1, .them-bo-suu-tap h1, .danh-sach-bo-suu-tap h1,
.danh-sach-phong h1, .sua-phong h1, .ho-so-admin h1, .hinh-anh-san-pham h1,
.danh-sach-san-pham h1, .hinh-anh-san-pham h1,  .danh-sach-hinh-anh h1,
.sua-san-pham h1, .sua-hinh-anh-san-pham h1, .them-tinh h1, 
.thong-ke-theo-ngay h1 .them-san-pham h1 {
    font-weight: bold;
    text-align: center;
    /* color: #eb3007; */
    color: #038018;
}

.them-danh-muc-body table, .danh-sach-danh-muc table{
    color: black;
}
/*  */
/*----------------------------------------------------- trang đơn hàng mới  */
.don-hang-moi > a{
    font-weight: bold;
}

/*  */

tr:hover td{
    color: #ee3500;
}

.themmoi{
    font-weight: bold; 
    border: 1px solid #038018;
    color: #038018;
}
.themmoi:hover{
    color: white;
    background-color: #038018;
}
.xoa{
    color: white;
    background-color: #ee3500;
}
.xoa:hover{
    font-weight: bold; 
    border: 1px solid white;
    color: #ee3500;
    background-color: white;
}
.sua{
    color: white;
    background-color: #038018;
}
.sua:hover{
    font-weight: bold; 
    border: 1px solid white;
    color: #038018;
    background-color: white;
}
.dang-xu-ly{
    color: white;
    background-color: #ee3500;
    font-weight: bold; 
}
.dang-xu-ly:hover{
    font-weight: bold; 
    border: 1px solid white;
    color: #ee3500;
    background-color: white;
}
.dang-van-chuyen{
    color: white;
    background-color: #121e96;
    font-weight: bold; 
}
.dang-van-chuyen:hover{
    font-weight: bold; 
    border: 1px solid white;
    color: #121e96;
    background-color: white;
}
.da-nhan-hang{
    color: white;
    background-color: #038018;
    font-weight: bold; 
}
.da-nhan-hang:hover{
    font-weight: bold; 
    border: 1px solid white;
    color: #038018;
    background-color: white;
}
.danhsach{
    font-weight: bold; 
    border: 1px solid #cd9d14;
    color: #cd9d14;
}
.danhsach:hover{
    color: white;
    background-color: #cd9d14;
}
/* --------------------------------------------tiêu đề các bảng  */
.tieude-bang{
    color: white !important;
    font-weight: bold !important;
}